body{
	background: white;
}
.c1{
	
	border: 5px solid blue;
	width: 50%;
	height: 100px;
	display: inline-block;

}
/*.c2{
	
	border: 5px solid blue;
	width: 100px;
	height: 30px;
	display: inline-block;
}
.c3{
	border: 5px solid blue;
	width: 100px;
	height: 30px;
	display: inline-block;
}*/